


{{ define "main" }}


<div class="">
    <h1 class="tc">Open Positions</h1>
    <ul class="p0 m0">
      {{ range sort .Pages ".Params.lastname"}}
      <hr>
      <div class="center f4 lh-copy mid-gray tj">
        <div class="">
            <div class="">
              <div class="">
                <div class="pv4">
                  <a class="f3 link black hover-blue" href="{{.URL}}"><b>{{.Title}}</b></a>
                  <p class="f3" href="{{.URL}}">{{.Summary}}</p>
                </div>
              </div>
            </div>
          </div>
          <hr>
      </div>
      {{ end }}
    </ol>
  </div>
    
<main class=" center f4 lh-copy mid-gray tj">
  {{ .Content }}
</main>

{{ end }}

