


{{ define "main" }}
<main class="cf ph3 ph5-l pv3 pv4-l f4 tc-l center lh-copy mid-gray">
  {{ .Content }}
</main>

<div class="">
  <ul class="p0 m0">
    <article class="pa3 pa4-ns nested-copy-line-height nested-img">
    {{ range sort (where .Pages "Params.current" true) ".Params.lastname" }}
    <div class="pa2 m2 f4 list pl0 pa2">
      <div class="mw9 center ph3-ns">
          <div class="cf ph2-ns">
            <div class="fl w-100 w-50-ns pa2">
                <div class="tc pv4">
                    <img src="{{ .Params.photo }}" style='border-radius: 50%;max-width: 200px;' class="db" alt="image from {{ .Title }}">
                  </div>
            </div>
            <div class="fl w-100 w-50-ns pa2">
              <div class="pv4">
                <a class="f3 link black hover-blue" href="{{.URL}}">{{.Title}}</a>
                <p class="f4 mt0">{{.Params.jobTitle}}</p>
                <p class="f5"><a href="mailto:{{.Params.email}}">{{ .Params.email}}</a></p>
              </div>
            </div>
          </div>
        </div>
        <hr>
    </div>
    {{ end }}
  </ol>
  
</article>
</div>

<div class="">
    <ul class="p0 m0">
      <h1 class="tc">Past members</h1>
      <article class="pa3 pa4-ns nested-copy-line-height nested-img">
      {{ range sort (where .Pages "Params.past" true) ".Params.dateLeft" }}
      <div class="pa2 m2 f4 list pl0 pa2">
        <div class="mw9 center ph3-ns">
            <div class="cf ph2-ns">
              <div class="fl w-100 w-100-ns pa2">
                <div class="tc pv4">
                  {{.Title}}, {{.Params.jobTitle}}, {{ dateFormat "2006 Jan" .Params.dateStarted }} - {{ dateFormat "2006 Jan" .Params.dateLeft }}
                </div>
              </div>
            </div>
          </div>
        </div>
        {{ end }}
        <hr>
    </ol>
    
  </article>
  </div>

{{ end }}

