
{{ define "header" }}
{{/* We can override any block in the baseof file be defining it in the template */}}
{{ partial "page-header.html" . }}
{{ end }}

{{ define "main" }}
<!-- {{ range .Site.Params.custom_css -}}
  <link rel="stylesheet" href="{{ . | absURL }}">
{{- end }} -->
<div class="flex-l mt2 mw8 center avenir">
  
  <article class="center cf pv5 ph3 ph4-ns mw7">
    
    <div class="tc">
        <img src="{{ .Params.photo}}" style='border-radius: 50%;max-width: 200px;'></img>

      <h1 class="f1 mb1">
        {{ .Params.name }} {{ .Params.lastname}}{{ if .Params.degree }}, {{ .Params.degree}}{{ end }}
      </h1>
      <h1 class="f3 mt0">
        {{ .Params.jobTitle }}
      </h1>
    </div>
    <hr>
    <section class="nested-copy-line-height lh-copy avenir f4 nested-links nested-img mid-gray tj nodecor avenir f4">
      <link rel="stylesheet" href="/css/person.css">
      {{ .Content }}
    </section>
    {{ partial "tags.html" . }}
    
    <hr>


  </article>
  <!-- <div class="ph3 mt2 mt6-ns">
    {{ partial "menu-contextual.html" . }}
  </div> -->
  
  
  </div>
{{ end }}
