<!-- TODO: Add follow intents where available TODO: Revisit color and hover color -->
<!-- <link rel="stylesheet" type="text/css" href="{{.Site.BaseURL}}css/main.css" /> -->
{{ $icon_size := "64px" }}
{{ with .Site.Params.institution }}
  <a href="//sabanciuniv.edu" target="_blank" class="link-transition sabancilogo link z-999 pt0 m0 center" title="{{ . }}">
    <!-- {{ partial "svg/sabanci_universitesi_logo_white.svg" (dict "size" $icon_size) }} -->
    {{ partial "svg/sabanci_universitesi_logo_white.svg" (dict "size" $icon_size) }}
  </a>
{{ end }}