<!-- TODO: Add follow intents where available TODO: Revisit color and hover color -->
<!-- <link rel="stylesheet" type="text/css" href="{{.Site.BaseURL}}css/main.css" /> -->
{{ $icon_size := "64px" }}

  <div class="tc">
      <!-- <a href="http://sabanciuniv.edu/en" target="_blank" class="v-mid link-transition fundinglogo link z-999 pt0 m0 center" title="{{ . }}">

        {{ partial "svg/sabanci_universitesi_logo_white.svg" (dict "size" $icon_size) }}
      </a>   -->
      <a href="http://sabanciuniv.edu/en" target="_blank" class="link-transition fundinglogo link pt0 m0 center tc di" title="Sabanci University">
        <img style="display:inline-block; width:auto;" class="fundinglogo" src="/images/sabanci_universitesi_logo.png"></img>
      </a> 
  </div>
  <!--
<div class="tc">
      <a href="http://tubitak.gov.tr" target="_blank" class="link-transition fundinglogo link pt0 m0 center tc di" title="TUBITAK">
        <img style="display:inline-block; width:auto;" class="fundinglogo" src="/images/tubitak_logo.png"></img>
      </a>  
  </div>
  -->
  <div class="tc">
    <a href="http://embo.org/funding-awards/installation-grants" target="_blank" class="link-transition fundinglogo link pt0 m0 center tc di" title="EMBO">
      <img style="display:inline-block; width:auto;" class="fundinglogo" src="/images/embo_ig.png"></img>
    </a>  
</div>
