{{ define "header" }}{{ partial "page-header.html" . }}{{ end }}
{{ define "main" }}
    <article class="center cf pv5 measure-wide-l">
      <h1>
        This is not the page you were looking for.
      </h1>
      <h1>

        <img src="/images/404.png"></img>
      </h1>
      <h2>Well, maybe it is! Is it the glue you are looking for?</h2>
      <p>Here is the story. When we were in elementary school, we didn't know the word glue, we used 404 instead due to a glue brand that still does exist. We often asked each other "Hey, do you have a 404?". Nowadays, 404 has a slang synonym as "clueless" because it is the error code telling you that the page does not exist. Though we are now clueless here, we were not when it was our 404 that sticked things to each other.</p>
    </article>
{{ end }}
